.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 20px 0;
  padding: 15px;
  background-color: rgb(0, 191, 255);
}

.character-details {
  color: white;
  line-height: 25px;
  font-family: serif;
  text-align: center;

  &-name {
    font-weight: bold;
    font-size: 22px;
    margin: 5px 0;
  }

  &-image {
    height: 250px;
    border: 1px solid black;
  }
}

.bold-title {
  font-weight: bold;
}

.back-link {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: serif;
  text-decoration: none;
  color: white;

  &:hover {
    color: rgb(0, 255, 0);
  }
}

.back-icon {
  font-size: 28px;
  margin-right: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.heart {
  width: 20px;
  height: 20px;
  display: inline-block;
  animation-name: heartBeat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes heartBeat {
  from {
    font-size: 12px;
  }
  to {
    font-size: 18px;
  }
}

.skull {
  font-size: 22px;
}

@media all and (min-width: 768px) {
  .card-details {
    flex-direction: row;
    width: 500px;
  }

  .character-details {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    margin-left: 15px;

    &-name {
      font-size: 25px;
    }
  }

  .back-link {
    font-size: 22px;

    &:hover {
      color: rgb(0, 255, 0);
    }
  }

  .back-icon {
    font-size: 32px;
    margin-right: 10px;
  }

  .details {
    margin: 70px 0;
  }

  .heart {
    width: 28px;
    height: 28px;
  }

  @keyframes heartBeat {
    from {
      font-size: 16px;
    }
    to {
      font-size: 22px;
    }
  }
}
