.header {
  margin-top: 30px;
  margin-bottom: 70px;
  width: 300px;
}

@media all and (min-width: 768px) {
  .header {
    width: 700px;
  }
}

@media all and (min-width: 1024px) {
  .header {
    width: 900px;
  }
}
