@import "characters";
@import "cards";
@import "form";

body {
  background-color: black;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details {
  margin: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.character-link {
  text-decoration: none;
  color: white;
  font-family: serif;
}

.back-link {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
