@import "header";
@import "characters";
@import "details";
@import "form";

body {
  background-color: black;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
