.character-card {
  display: inline-block;
  width: 250px;
  margin: 15px 25px;
  background-color: lightblue;
}

.character-info {
  padding: 5px;
}

.name-title {
  margin: 0;
}

.species-title {
  margin: 0;
}

.image {
  height: 250px;
}
