.character-card {
  display: inline-block;
  width: 250px;
  margin: 35px;
  background-color: lightblue;
}

.character-info {
  padding: 5px;
}

.name-title {
  margin: 5px 0;
}

.image {
  height: 250px;
}

.card-details {
  display: flex;
  align-items: center;
  width: 500px;
  border: 3px solid yellow;
  margin: 35px;
}

.character-details {
  color: white;
  margin-left: 15px;

  &-name {
    margin: 5px 0;
  }
}
