.character-card {
  display: inline-block;
  width: 250px;
  margin: 35px;
  background-color: rgb(0, 191, 255);
  border-radius: 10px;
}
.character-card:hover {
  box-shadow: 0 14px 28px green, 0 10px 10px rgba(0, 0, 0, 0.22);
}
.character-info {
  padding: 15px;
}

.name-title {
  margin: 5px 0;
  font-weight: bold;
}

.image {
  height: 250px;
}

.card-details {
  display: flex;
  align-items: center;
  width: 500px;
  margin: 35px 0;
  background-color: rgb(0, 191, 255);
}

.character-details {
  color: white;
  margin-left: 15px;
  line-height: 25px;
  font-family: serif;

  &-name {
    font-weight: bold;
    font-size: 22px;
    margin: 5px 0;
  }
}

.bold-title {
  font-weight: bold;
}
