.input {
  padding-left: 10px;
  width: 350px;
  height: 40px;
  margin-top: 70px;
  margin-bottom: 25px;
  border: 3px solid rgb(0, 191, 255);
  background-color: black;
  color: white;
  font-family: serif;
  font-size: 18px;
}

.input::placeholder {
  font-family: serif;
  font-size: 18px;
}
